@use  "../global" as global;

.p-footer {

}

.p-footer__text {
  font-size: global.rem(12);
  color: #fff;
  letter-spacing: 0;
  line-height: 1.7;
  text-align: center;
  
  @include global.mq('md') {
    font-size: global.rem(14);
  }
}