@use "../global" as global;

.p-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: global.rem(10);
  background: #fff;
  border-radius: global.rem(10);
  box-shadow: 0 6px 10px global.$color-shadow;
  
  @include global.mq('md') {
    padding: 0 global.rem(40);
    border-radius: global.rem(20);
  }
}

.p-header__logo {
  width: global.rem(112);
  
  @include global.mq('md') {
    width: global.rem(143);
    transition: opacity 0.4s;

    &:hover {
      @include global.mq('md') {
        opacity: 0.7;
      }
    }
  }
}

.p-header__icon {
  width: global.rem(40);
  height: global.rem(40);
  margin-left: auto;
}

.p-header__nav {
}

.p-header__nav-items {
  display: flex;
  align-items: center;

  > li {
    > a {
      padding: global.rem(20);
      color: global.$color-navy;
      font-weight: global.$bold;
      transition: color 0.4s;

      &:hover {
        color: global.$color-primary;
      }
    }
  }
}

.p-header__button {
}
