@use  "../global" as global;

.l-contact {
  position: relative;
  padding-top: global.rem(73);
  background: transparent url(../img/contact_bg.jpg) no-repeat top center / contain;
  
  @include global.mq('md') {
    padding-top: global.rem(96);
    background: transparent url(../img/contact_bg.jpg) no-repeat top center / cover;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(238, 250, 253, 0.3) 0%, #EEFAFD 19.84%);

    @include global.mq('md') {
      background: rgba(#EEFAFD, 0.3);
    }
  }

}