@use "../global" as global;

.l-inner {
  width: 100%;
  padding: 0 global.rem(10);
  
  @include global.mq('md') {
    max-width: global.$inner + global.$padding-pc * 2;
    margin: 0 auto;
    padding: 0 global.rem(40);
  }
}